a {
	text-decoration: none;
}
ul, ul ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#wrapper {	
	width: 250px;
	margin: 10px;
}
.menu {
	width: auto;
	height: auto;
}
.menu > li > a {
    width: 100%;
	height: 2em;
	color:#505050;
	line-height: 2em;
	display: block;
	position: center;
	padding-right: .25em;
}
.menu ul li a {
	width: 100%;
	height: 2em;
	line-height: 1em;
	text-indent: .75em;
	display: block;
	position: center;
}
.menu ul li:last-child a {
	border-bottom: 1px solid #428BCB;
}
.menu > li > a:hover, .menu > li > a.active {

}
.menu > li > a.active {
	color: #428BCB;
}
.menu > li > a:before {
	content: '';
    font-size: 36px;
	height: 1em;
  	width: 1em;
	position: absolute;
  	left: 0;
	top: 50%;
	margin: -.5em 0 0 0;
}
.item1 > a:before {
	background-position: 0 0;
}
.item2 > a:before {
	background-position: -38px 0;
}
.item3 > a:before {
	background-position: 0 -38px;
}
.item4 > a:before {
	background-position: -38px -38px;
}
.item5 > a:before {
	background-position: -76px 0;
}

.menu > li > ul li a:before{
	content: '▶';
	font-size: 8px;
	position: absolute;
	width: 1em;
	height: 1em;
	top: 0;
	left: -2.7em;
}

.menu > li > ul li:hover a,
.menu > li > ul li:hover a span,
.menu > li > ul li:hover a:before {

}

.navContainer {
	font-weight:bold;
	margin-top:2px;
	margin-left:0px;
}

.version {
	font-style:italic;
}

.navSubMenu {
	margin-left:15px;
}